<div class="geo-comp table centered">
	<div class="cell small-cell middle-aligned">
		<h1 class="scalar">{{content.components.geo_comp.scalar}}
			<span class="unit">{{content.components.geo_comp.unit}}</span>
		</h1>
	</div>
	<div class="cell large-cell middle-aligned">
		<p>
			<b>{{content.components.geo_comp.header}}</b>
		</p>
		<p class="grey">{{content.components.geo_comp.text}}</p>
	</div>
	<div class="cell small-cell middle-aligned location-btn">
		<a href="{{content.components.src_comp.resource_uri}}"></a>
	</div>
</div>