<div>
	<img class="hero" ng-src="{{content.geo.imageUri}}">
	<div class="tabel centered location">
		<div class="cell middle small-cell">
			<h1 class="scalar">{{content.scalar}}
				<span class="unit">{{content.unit}}</span>
			</h1>
		</div>
		<div class="cell middle large-cell">
			<p class="bold">{{content.geo.title}}</p>
			<p class="small grey">{{content.geo.address}}</p>
		</div>
		<div class="cell middle location-btn">
			<a href="{{content.geo.resourceUri}}">
				
			</a>
		</div>
	</div>
</div>