<a class="gotosource comp-wrapper" href="{{content.components.src_comp.resource_uri}}">
	<div class="hero-comp">
		<span style="background-image: url({{content.components.hero_comp.main_img}})">
		</span>
		<div class="stats-comp table centered" ng-show="content.components.hero_comp.label1">
		    <div class="cell small-cell">
		        <h1 class="scalar">{{content.components.hero_comp.stat1}}</h1>
		        <p><small><b>{{content.components.hero_comp.label1}}</b></small></p>
		    </div>
		    <div class="cell small-cell">
		        <h1 class="scalar">{{content.components.hero_comp.stat2}}</h1>
		        <p><small><b>{{content.components.hero_comp.label2}}</b></small></p>
		    </div>
		    <div class="cell small-cell">
		        <h1 class="scalar">{{content.components.hero_comp.stat3}}</h1>
		        <p><small><b>{{content.components.hero_comp.label3}}</b></small></p>
		    </div>
		</div>
	</div>
</a>