<a class="gotosource comp-wrapper" href="{{content.resource_uri}}">
    <div class="sports-comp table centered">
        <div class="cell small-cell">
            <div class="circular-img">
                <img ng-src="{{content.components.sports_comp.team_1_img}}">
            </div>
            <small>
                <b>{{content.components.sports_comp.team_1}}</b>
            </small>
        </div>
        <div class="cell large-cell  middle-aligned">
            <h1>
                {{content.components.sports_comp.team_1_score}} - {{content.components.sports_comp.team_2_score}}
            </h1>
            <p class="grey"><small><b>{{content.components.sports_comp.game_status}}</b></small></p>
        </div>


        <div class="cell small-cell">
            <div class="circular-img">
                <img ng-src="{{content.components.sports_comp.team_2_img}}">
            </div>
            <small><b>{{content.components.sports_comp.team_2}}</b></small>
        </div>
    </div>
</a>