<div class="stats-comp table centered">
    <div class="cell small-cell">
        <h1 class="scalar">{{content.components.stats_comp.stat1}}</h1>
        <p><small><b>{{content.components.stats_comp.label1}}</b></small></p>
    </div>
    <div class="cell small-cell">
        <h1 class="scalar">{{content.components.stats_comp.stat2}}</h1>
        <p><small><b>{{content.components.stats_comp.label2}}</b></small></p>
    </div>
    <div class="cell small-cell">
        <h1 class="scalar">{{content.components.stats_comp.stat3}}</h1>
        <p><small><b>{{content.components.stats_comp.label3}}</b></small></p>
    </div>
</div>