<div ng-show="!user.status || user.status == 1 || user.status == '1'">
	<p>Enter your email: </p>
	<input>
	<button ng-click="register()">send</button>
</div>

<div class="dbk-wrapper">
	<header class="dbk-header">
		<a class="sort-btn" id="toggleSortable" style="left: 0px; opacity: 0.2;">
			<img src="http://s3.amazonaws.com/s3.dashbook.co/dbkapp/img/sortable-btn.png">
		</a>
		<img src="img/dbk-logo.png">
		<a class="library-btn">
			<img src="http://s3.amazonaws.com/s3.dashbook.co/dbkapp/img/library-btn.png">
		</a>
	</header>

	<div class="settings waiting-list">
		<article class="input-comp">
			<div ng-show="conflict">
				<p>
					We have you on our waiting list. There are {{count}} people ahead of you in the line. We will notify you as soon as there's a spot available.
				</p>
				<p>Say hi anytime</p>
				<a href="mailto:hello@dashbookapp.com">hello@dashbookapp.com</a>
			</div>
			<div ng-show="!user.status || user.status == 2 || user.status == '2'">
				<p>
					Awesome! We now have you on our waiting list. There are {{count}} people ahead of you in the line. We will notify you as soon as there's a spot available.
				</p>
				<p>Say hi anytime</p>
				<a href="mailto:hello@dashbookapp.com">hello@dashbookapp.com</a>
			</div>
			<p ng-show="">
				This is where you wait
			</p>
			<div ng-show="user.status == 1 || user.status == '1'">
				<p>Please enter your email below.</p>
				<input type="email" ng-model="email">
				<button>Submit</button>
				<p>Say hi anytime</p>
				<a href="mailto:hello@dashbookapp.com">hello@dashbookapp.com</a>
			</div>
		</article>
	</div>
</div>